<div class="buttons">
        <div class="pull-left"> 
		<input type="button" value="Descarga Ticket" id="button-dowload1" data-loading-text="{{ text_loading }}" class="btn btn order " />
</div>

  <div class="pull-right">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn order " />
  </div>
</div>
<script type="text/javascript"><!--
$('#button-confirm').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/payment/cod/confirm',
		dataType: 'json',
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},
		success: function(json) {
			if (json['redirect']) {
				location = json['redirect'];	
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('#button-dowload1').on('click', function() {
	
	
	 make_product_sheet();


	console.log('descargamos');
});

function make_product_sheet() {

    console.log("#generate_pdf_btn clicked");
    var pdf = new jsPDF('p', 'pt', 'a4',true);
    pdf.addHTML(document.getElementById("collapse-checkout-confirm"), function() {

        ps_filename = "lospuestos";
        pdf.save(ps_filename+'.pdf');
    });
}




//--></script>
