<div class="buttons">
        <div class="pull-left"> 
		<button id="button-dowload1" class="btn order"><i class="fa fa-download" style="font-size: 14px;"></i> Descargar Ticket</button>
</div>

  <div class="pull-right">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn order " />
  </div>
</div>
<script type="text/javascript">


$( document ).ready(function() {
    console.log( "ready!" );
	addScript('https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js');

});

$('#button-confirm').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/payment/cod/confirm',
		dataType: 'json',
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},
		success: function(json) {
			if (json['redirect']) {
				location = json['redirect'];	
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('#button-dowload1').on('click', function() {
	
	
	 make_product_sheet();


	console.log('descargamos');
});

function make_product_sheet() {
var parameters = {
filename: 'ticket_aromas.pdf',
};
    console.log("#generate_pdf_btn clicked");
 $(".paso4").css("display", "none"); 
 $(".paso5").css("display", "none");
  $(".order").css("display", "none");
  $(".title6").css("display", "none"); 
  $(".navbar").css("display", "none");
   $(".titleh1").css("display", "none");
$('#content').addClass('col-sm-8').removeClass('col-sm-12');



  html2pdf(document.body,parameters);
  setTimeout(function(){
  $(".paso4").css("display", "block"); 
 $(".paso5").css("display", "block");
$(".title6").css("display", "block");
  $(".order").css("display", "block");
  $(".navbar").css("display", "block"); 
  $(".titleh1").css("display", "block");
$('#content').addClass('col-sm-12').removeClass('col-sm-8');
}, 3000); 

}


function addScript(url) {
    var script = document.createElement('script');
    script.type = 'application/javascript';
    script.src = url;
    document.head.appendChild(script);
}


//--></script>
