<div class="warning-container col-lg">
    <div class="glyphicon glyphicon-warning-sign w-100"></div><p>{{ errorMessage }}</p>
    <div class="buttons">
        <div class="pull-right"><a href="{{ next_page }}" class="btn btn-primary">{{ button_continue }}</a>
        </div>
    </div>
</div>