<footer id="footer">{{ text_footer }}<br />{{ text_version }}<br>
<center>
<a target="_blank" href="http://forum.felixtheme.com/support/" class="btn btn-success" role="button">Create Free Support Ticket</a>
<a target="_blank" href="https://kuberthemes.com/topic/296-how-to-install-opencart-newcrocus-theme/" class="btn btn-danger" role="button"><img src="../admin/view/image/small-thumb.jpg" style="height:40px"> Click here For Newcrocus Theme Documentation (Video Guide)</a>
</center>

</footer>

</div>


</body></html>